#menu{
    margin-bottom: 30px;
    background-color: #9370DB;
}

body{
    background-color: #DCDCDC	
}

#btn {

    background-color: #9370DB;
    border:1px solid #ffffff;
    color: #ffffff
}

#btn:hover{
    background-color:#8A2BE2	
}

.navbar-text ul li{
    padding-right:40px
}

#btn-cadastro{

    background-color: #F08080;
    color:#ffffff;
    border: 0;
    padding: 10px;
    width: 100%;
    height: 50px;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    border-radius: 4px;
}

#btn-login{

    color:#ffffff;
    border: 0;
    padding: 10px;
    width: 100%;
    height: 50px;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.esqueci {
    text-align: center;
}
.esqueci a{
    margin-top: 200px

}